@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.root {
    @include text-3xl;
    @include flex-full-center;

    width: 100vw;
    height: 90vh;

    &__logo {
        @include flex-full-center;

        width: 16rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        margin-top: 1rem;
        transition: color 0.1s ease-in-out;

        &:hover {
            color: $accent;
        }
    }

    &__link:first-child {
        margin-top: 0;
    }
}
