@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.side-nav {
    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    box-sizing: border-box;
    background-color: $background-light;
    padding: 2rem 1.25rem;
    z-index: 100;
    overflow: auto;

    &__top-nav {
        @include flex-between;
        padding-bottom: 1.25rem;
        border-bottom: 2px solid $border-default;
    }

    &__workspace-nav {
        @include flex-between;

        margin-top: 1.25rem;
    }

    &__workspace-side {
        @include flex-between;

        * {
            margin-left: 1.25rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__logo {
        @include flex-full-center;
        height: 1.75rem;
    }

    &__notes {
        display: flex;
        flex-direction: column;
        margin-top: 0.75rem;
    }
}
