@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.button {
    height: 2.75rem;
    border-radius: 1rem;
    user-select: none;
    width: 100%;

    &--primary {
        @include text-regular;
        @include text-lg;

        border: none;
        background-color: $accent;
        transition: all 0.1s ease;

        &:hover {
            background-color: $accent-light;
        }

        &:active {
            background-color: $accent-dark;
        }
    }

    &--secondary {
        @include text-lg;
        @include text-regular;

        background-color: $background;
        border: 2px solid $accent;
        color: $light;
        transition: all 0.1s ease;

        &:hover {
            border-color: $accent-light;
        }

        &:active {
            border-color: $accent-dark;
        }
    }

    &:hover {
        cursor: pointer;
    }
}