@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.button {
    height: 2.75rem;
    border-radius: 1rem;
    user-select: none;
    width: 100%;
    color: $background-bright;

    &--primary {
        @include text-regular;
        @include text-lg;

        border: none;
        background-color: $accent;
        transition: all 0.1s ease;

        &:hover {
            background-color: $accent-dark;
            cursor: pointer;
        }
    
        &:disabled {
            color: $light;
            background-color: $accent !important;
            cursor: default !important;
            opacity: 0.4;
        }
    }

    &--secondary {
        @include text-lg;
        @include text-regular;

        background-color: $background;
        border: 2px solid $accent;
        transition: all 0.1s ease;
        color: $light;

        &:hover {
            border-color: $accent-light;
        }
    }
}