@import '../../../src/ui/assets/fonts/stylesheet';
@import "./variables";

@mixin flex-full-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin text-link {
    color: $accent;

    &:hover {
        text-decoration: underline;
    }
}

@mixin text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@mixin text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@mixin text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

@mixin text-5xl {
    font-size: 3.75rem;
    line-height: 1;
}

@mixin text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

@mixin text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

@mixin text-8xl {
    font-size: 6rem;
    line-height: 1;
}

@mixin text-9xl {
    font-size: 8rem;
    line-height: 1;
}

@mixin text-black {
    font-family: Gilroy, sans-serif;
    font-weight: 800;
}

@mixin text-bold {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

@mixin text-light {
    font-family: Gilroy, sans-serif;
    font-weight: 300;
}

@mixin text-regular {
    font-family: Gilroy, sans-serif;
    font-weight: normal;
}
