$background: #161819;
$background-light: #272727;
$background-bright: #303030;
$border-default: #606060;
$accent-light: #2ce0e0;
$accent: #1CC4CF;
$accent-dark: #1798af;
$light: #DFDFDF;
$sidebar-width: 20rem;