@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.menu-button {
  @include text-regular;
  @include text-base;
  @include flex-between;

  min-width: max-content;
  color: $light;
  width: 100%;
  transition: all 0.1s ease;
  background-color: #242424;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 15px;

  &__icon {
    height: 1.5rem;
    width: 1.5rem;

    &--left {
      margin-right: 0.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &:hover {
    cursor: pointer;
    background-color: $background-bright;
  }

  &:active {
    background-color: $background-light;
  }


}