@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.context-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: $background-bright;
    width: 10rem;
    padding: 2rem;

    &--hidden {
        display: none;
    }
}